<!--Footer start-->
    <div class="container">
        <p class="navbar-text">2014 &copy; Copyright</p>
        <p class="navbar-text navbar-right">Made by
            <a href="#">Julia Nesteruk</a>&nbsp;and
            <a href="#">Iryna Krehovetska</a>
        </p>
    </div>
<!--Footer end-->